.page {
  padding: 24px;
    overflow-x: hidden;
}

.page.hero main{
  padding: 0 15px;
  position : absolute;
  color : white;
  text-shadow: -2px 2px 3px gray;
  transition: all 0.1s;
  bottom: -10px;
}

.zoomin-enter {
 display: none;
}

.zoomin-enter.zoomin-enter-active .page.hero main{
    bottom: -1000px;
}

.zoomin-exit.zoomin-exit-active .wrapper-small{
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
  transition: all linear 0.2s;
}

.zoomout-enter{
  display: none;
}

.zoomout-exit.zoomout-exit-active .wrapper-large{
  max-width: 300px;
  max-height: 300px;
  padding: 24px;
  transition: all linear 0.2s;
}

.zoomout-exit.zoomout-exit-active main{
  display: none;
}

.close
{
  position: absolute;
  top : 50px;
  left: 50px;
  background: red;
  color : white;
}

.wrapper-small{
  max-width : 300px;
  max-height : 300px;
  overflow: hidden;
  position: fixed;
}

.wrapper-large img{
  position: absolute;
  top:0px;
  left:0px;
}

.wrapper-small img{
  position: relative;
  top:-34px;
  left:-34px;
}
.articleHome main{
  top: 350px;
  position:fixed;
}

.wrapper-large{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: hidden;
}