.page {
    padding: 0 24px;
}

.hero div {
    font-size: 5em;
}

.pageSlider-enter{
    display: none;
}

.pageSlider-enter img{

}

.pageSlider-enter.pageSlider-enter-active{
    -moz-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
}
.pageSlider-exit{
    display: block;
}

.pageSlider-exit.pageSlider-exit-active{

}

.close{
    z-index: 100;
    position: absolute;
}
.articleHero
{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
    margin: 20px auto;
}

.small
{
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.large
{
    -moz-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
}

/*
.pageSlider-enter {
  transform: translate3d(100%, 0, 0);
}

.pageSlider-enter.pageSlider-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
}
.pageSlider-exit {
  transform: translate3d(0, 0, 0);
}

.pageSlider-exit.pageSlider-exit-active {
  transform: translate3d(-100%, 0, 0);
  transition: all 600ms;
}
*/