.page {
    padding: 0 24px;
    overflow: hidden;
}

.page.hero main{
  padding: 0 15px;
  position : absolute;
  color : white;
  text-shadow: -2px 2px 3px gray;
  transition: 0.2s;
  left: 0px;
  bottom: 10px;
}

.page.home main{
  position : absolute;
  left: 0px;
  top: 300px;
}

.zoomin-enter {
 display: none;
}

.zoomin-exit.zoomin-exit-active img{
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    animation: clipAnim 0.2s;
}

.zoomin-exit.zoomin-exit-active main{
  visibility: hidden;
}


.zoomout-enter{
  display: none;
}

.zoomout-exit.zoomout-exit-active img{
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    animation: smallerAnim 0.2s;
}

.zoomout-exit.zoomout-exit-active main{
  display: none;
}

.close
{
  position: absolute;
  top : 50px;
  left : 10px;
  color : white;
  background: black;
}

.articleHero
{
    display: block;
    width: auto;
    height: auto;
    margin: 20px auto;
}

.small
{
  position: absolute;
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    clip: rect(10px, 290px, 190px, 10px);
}

@keyframes clipAnim {
  from {
    clip: rect(10px, 290px, 190px, 10px);
  }
  to {
    clip: rect(0px, 314px, 547px, 0px);
  }
}

@keyframes smallerAnim {
  from {
    clip: rect(0px, 314px, 547px, 0px);
  }
  to {
    clip: rect(10px, 290px, 190px, 10px);
  }
}

.large
{
     position: absolute;
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

img {
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}